### CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### After Effects SDK
extern/AfterEffectsSDK/GPUUtils/
extern/AfterEffectsSDK/Headers/
extern/AfterEffectsSDK/Resources/
extern/AfterEffectsSDK/Util/


### After Effects Skeleton
include/Skeleton.h
include/Skeleton_Strings.h
source/Skeleton.cpp
source/Skeleton_Strings.cpp